/*#title{
    width:500px;
    height:200px;
    margin:20px;
    border:1px solid #ccc;
}

.verde{
    background-color: green;
    color:#fff;
}
.vermelho{
    background-color: red;
}
.amarelo{
    background-color: yellow;
}
*/

/*.preto{
    background-color: black;
    color:#fff;
    font-size: 22px;
}
.verde{
    background-color: green;
    color: #000;
    font-size: 22px;
}

button{
    width: 200px;
    height: 48px;
}
*/